section{
    .container{
      
        margin-top: 0px;
        margin-left: 83px;
        margin-right: 83px;
        .grid-container{
            margin-top:136px;
            ul{
                z-index: 5;
                li{ 
                   
                    span{
                    position: absolute;
                    left: -30px;
                    top: 28px;
                    font-size: 10px;
                    font-weight: 600;
                    letter-spacing: normal;
                    font-style: normal;
                    color: #F6F6F6;
                    line-height: 1;
                }
                    a{  
                        margin-top: 0px;
                        letter-spacing: -0.34px;
                        color: transparent;
                        -webkit-text-stroke: 1px #ebebeb;
                        transition: color 0.5s;
                        font-style: normal;
                        font-size: 68px;
                        font-weight: 900;

                        &:hover{
                            
                            color: white;
                        }
                    }
                }
            }
        }
        .img-container{
            position: absolute;
            height: calc(100vh - 156px);
            width: 100%;
            top:135px;
            position: fixed;
            width: 996px;
            height: 650px;
            left: calc(50% - 498px);
            overflow: hidden;
            background-size: cover;
            
        }

    }
}

main{
    .c-wrapper{
        display: flex;
      
        .left-bar{
             
            width: 30%;
          
            .img{
                position: absolute;
                width: 374px;
                height: 100vh;
                position: sticky;
                top: 0;
                left: 0;
                background-color: #1A1A1A;
                background-size: cover;
                background-position: center center;
            }
        }
        .right-bar{
            padding-left: 113px;
       
            width: 695px;
            margin: 24px 0 80px 0;
           
            h3{ 
                color: white;
                font-size: 56px;
                font-weight: 900;
                letter-spacing: normal;
                margin-bottom: 35px;
            }
            p{
                font-size: 14px;
                font-weight: normal;
                letter-spacing: normal;
                font-family: 'Mont';
                font-style: normal;
                color: #CACACA;
                line-height: 1.75;
            }

        }
    }
}